<div class="container">
  <div class="top-row">
    <div class="chart">
      <ngx-charts-bar-vertical [view]="[580, 281]" [scheme]="colorScheme" [results]="barData" [xAxis]="true"
        [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Itens"
        yAxisLabel="Quantidade">
      </ngx-charts-bar-vertical>
    </div>
    <div class="chart">
      <ngx-charts-bar-vertical-stacked
      [view]="[580, 281]"
      [scheme]="colorScheme"
      [results]="stackedBarData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Itens"
      yAxisLabel="Quantidade">
    </ngx-charts-bar-vertical-stacked>
    </div>
  </div>
  <div class="content-row">
    <div class="pie-chart">
      <ngx-charts-pie-chart [view]="[580, 281]" [scheme]="colorScheme" [results]="pieData" [legend]="true"
        [explodeSlices]="false">
      </ngx-charts-pie-chart>
    </div>
    <div class="bubble-chart">
      <ngx-charts-bubble-chart [view]="[580, 281]" [results]="scatterData" [xAxis]="true" [yAxis]="true"
      [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Eixo X" yAxisLabel="Eixo Y">
    </ngx-charts-bubble-chart>
    </div>
  </div>
</div>