.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh; 
  gap: 10px;
  border-radius: 10px;
}

.top-row {
  display: flex;
  gap: 10px;
  width: 100%; 
  max-width: 100%;
  
}

.chart {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  overflow-y: auto; 
  overflow-y: auto; 
  max-height: 330px;
  max-width: 100%;
  text-align: center;
}

.pie-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 50%; 
  max-width: 50%;
  border-radius: 10px;
  flex: 1;
  overflow-y: auto; 
  max-height: 330px;
}

.bubble-chart {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex: 1; 
  border-radius: 10px;
  overflow-y: auto; 
  max-height: 330px;
}

.content-row {
  display: flex;
  gap: 10px;
  width: 100%; 
  max-width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: center; 
  }

  .top-row,
  .content-row {
    flex-direction: column; 
    align-items: center; 
  }

  .chart,
  .pie-chart,
  .bubble-chart {
    width: 100%; 
    max-width: 100%; 
    overflow-y: auto; 
    max-height: 330px;
  }
}

