<div mat-dialog-title id="formModal">
  <h1 class="title-h1">Pet Form</h1>
</div>
<div mat-dialog-content class="content">

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault01">Nome</mat-label>
      <input id="validationDefault01" value="Mark" required matInput type="text"
        [(ngModel)]="pet.name">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault02">Espécie</mat-label>
      <mat-select id="validationDefault02" required [(ngModel)]="pet.species">
        <mat-option value="DOG">Cachorro</mat-option>
        <mat-option value="CAT">Gato</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault03">Gênero</mat-label>
      <mat-select id="validationDefault03" required [(ngModel)]="pet.gender">
        <mat-option value="FEMALE">Fêmea</mat-option>
        <mat-option value="MALE">Macho</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label for="inputAge">Idade</mat-label>
      <input [(ngModel)]="inputAge" type="number" id="inputAge" min="0" max="99" value="1" (change)="calculateAgeInMonths()" required matInput>
      <input type="hidden" [(ngModel)]="pet.ageInMonths" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="unitSelect">Meses/Anos</mat-label>
      <mat-select id="unitSelect" [(ngModel)]="selectedUnit" (selectionChange)="calculateAgeInMonths()">
        <mat-option value="months">Meses</mat-option>
        <mat-option value="years">Anos</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault05">Raça</mat-label>
      <input id="validationDefault05" required matInput type="text" [(ngModel)]="pet.breed">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault06">Porte</mat-label>
      <mat-select id="validationDefault06" required [(ngModel)]="pet.size">
        <mat-option value="SMALL">Pequeno</mat-option>
        <mat-option value="MEDIUM">Médio</mat-option>
        <mat-option value="LARGE">Grande</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault07">Peso</mat-label>
      <input id="validationDefault07" required matInput type="number" [(ngModel)]="pet.weight">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Castrado</mat-label>
      <mat-select [(ngModel)]="pet.neutered">
        <mat-option value=true>Sim</mat-option>
        <mat-option value=false>Não</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


    <div class="rowe">
      <mat-form-field appearance="outline">
        <mat-label>Microchip</mat-label>
        <input matInput type="number" placeholder="Mínimo 15 dígitos" [(ngModel)]="pet.microchip">
      </mat-form-field>
    </div>
      <div class="rowe">
      <mat-form-field appearance="outline">
        <mat-label>Vacinação</mat-label>
        <input matInput type="text" [(ngModel)]="pet.vaccination">
      </mat-form-field>
    </div>

  <div class="rowe">
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="pet.description"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="action">
    <ng-template [ngIf]="editMode" [ngIfElse]="createMode">
      <button (click)="editPet(pet)" class="mat-elevation-z8" mat-stroked-button color="primary">EDITAR</button>
    </ng-template>
    <ng-template #createMode>
      <button (click)="createPet()" class="button-create mat-elevation-z8" color="primary" mat-stroked-button>CRIAR</button>
    </ng-template>
    <button (click)="closeForm()" class="mat-elevation-z8" mat-stroked-button color="basic">CANCELAR</button>
  </div>
</div>
