<div mat-dialog-title id="formModal">
  <h1 class="title-h1">Formulário de Pet</h1>
</div>
<div mat-dialog-content class="content">

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input value="name" matInput type="text" [(ngModel)]="pet.name" readonly>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Espécie</mat-label>
      <input matInput type="text"
        [value]="pet.species === 'DOG' ? 'Cachorro' : 'Gato'" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gênero</mat-label>
      <input matInput type="text"
        [value]="pet.gender === 'MALE' ? 'Macho' : 'Fêmea'" readonly>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Idade</mat-label>
      <input matInput type="text" [value]="getFormattedAge()" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Meses/Anos</mat-label>
      <mat-select [(ngModel)]="selectedUnit">
        <mat-option value="months">Meses</mat-option>
        <mat-option value="years">Anos</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Raça</mat-label>
      <input matInput type="text" [(ngModel)]="pet.breed" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Porte</mat-label>
      <input matInput type="text"
        [value]="pet.size === 'SMALL' ? 'Pequeno' : pet.size === 'MEDIUM' ? 'Médio' : 'Grande'" readonly>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Peso</mat-label>
      <input matInput type="number" [(ngModel)]="pet.weight" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Castrado</mat-label>
      <input matInput type="text" [value]="pet.neutered === true ? 'Sim' : 'Não'" readonly>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Microchip</mat-label>
      <input matInput type="text" [(ngModel)]="pet.microchip" readonly>
    </mat-form-field>

  </div>
  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Vacinação</mat-label>
      <input matInput type="text" [(ngModel)]="pet.vaccination" readonly>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="pet.description" readonly></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="action">
    <button (click)="closeForm()" class="mat-elevation-z8" mat-stroked-button>FECHAR</button>
  </div>
</div>
