<div mat-dialog-title id="formModal">
  <h1 class="title-h1">Pet Form</h1>
</div>
<div mat-dialog-content class="content">

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input value="Mark" matInput type="text"
      ngModel readonly [(ngModel)]="pet.name">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Raça</mat-label>
      <input matInput type="text" ngModel readonly [(ngModel)]="pet.breed">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Microchip</mat-label>
      <input matInput type="text" ngModel readonly [(ngModel)]="pet.microchip">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Peso</mat-label>
      <input matInput type="number" ngModel readonly [(ngModel)]="pet.weight">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" ngModel readonly [(ngModel)]="pet.birthdate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Espécie</mat-label>
      <input matInput type="text" ngModel readonly [(ngModel)]="pet.species">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gênero</mat-label>
      <input matInput type="text" ngModel readonly [(ngModel)]="pet.gender">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Castrado</mat-label>
      <input matInput type="text" [ngModel]="pet.neutered ? 'Sim' : 'Não'" readonly>
    </mat-form-field>  
    <mat-form-field appearance="outline">
      <mat-label>Porte</mat-label>
      <input matInput type="text" ngModel readonly [(ngModel)]="pet.size">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label>Vacinação</mat-label>
      <input matInput type="text" ngModel readonly [(ngModel)]="pet.vaccination">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput ngModel readonly [(ngModel)]="pet.description"></textarea>
    </mat-form-field>
  </div>


  <div mat-dialog-actions class="action">
    <button (click)="closeForm()" class="mat-elevation-z8" mat-stroked-button color="basic">FECHAR</button>
  </div>
</div>
 