<div mat-dialog-title id="formModal">
  <h1 class="title-h1">User Form</h1>
</div>
<div mat-dialog-content class="content">

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault01">Username</mat-label>
      <input id="validationDefault01" value="email" required matInput type="text"
        [(ngModel)]="user.username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault02">Password</mat-label>
      <input id="validationDefault02" value="password" required matInput type="password"
        [(ngModel)]="user.password">
    </mat-form-field>
  </div>

  <div class="rowe">
    <mat-form-field appearance="outline">
      <mat-label for="validationDefault02">Role</mat-label>
      <mat-select id="validationDefault02" required [(ngModel)]="user.role">
        <mat-option value="USER">USER</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="action">
    <button (click)="saveUser()" class="mat-elevation-z8" mat-stroked-button color="primary">
      {{ editMode ? 'EDITAR' : 'CRIAR' }}
    </button>
    <button (click)="closeForm()" class="mat-elevation-z8" mat-stroked-button color="basic">CANCELAR</button>
  </div>
</div>