<div style="display: flex; flex-direction: column; align-items: center;">
  <mat-card style="width: 100%; height: 50vh;">
    <mat-card-header>
      <mat-card-title>Bem-vindo!</mat-card-title>
      <mat-card-subtitle>Seja bem-vindo ao Pet Control, aplicação para controle e gerenciamento de
        Pets!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/welcome.jpg" alt="Imagem de boas-vindas"
      style="width: 100%; height: 100%; object-fit: cover;">
  </mat-card>

  <div class="balao-container" fxLayout="row" fxLayoutAlign="center center" style="width: 80%; margin-top: 50px; margin-bottom: 0px;">
    <mat-card class="balao" style="width: 60%; position: relative; left: 150px;">
      <mat-card-content>
        <p style="margin-bottom: 5px; text-align: center;"><i>"Nossos animais de estimação têm vida tão curta e, ainda
            assim, passam a maior parte do tempo esperando que voltemos para casa todos os dias. É impressionante quanto
            amor e alegria eles trazem para nossas vidas, e quanto nos aproximamos uns dos outros por causa deles."</i>
        </p>
        <p style="font-size: 12px; text-align: right; color: #777;">- Marley e Eu</p>
      </mat-card-content>
    </mat-card>
  </div>

  <style>
    @media screen and (max-width: 600px) {
      .balao-container {
        display: none;
      }
    }
  </style>
