<h2>PETS INDISPONÍVEIS</h2>
<div class="mat-elevation-z8 content-table">
  <table class="table" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> nome </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.name }} </td>
    </ng-container>

    <ng-container matColumnDef="species">
      <th mat-header-cell *matHeaderCellDef> espécie </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.species ? 'Cachorro' : 'Gato' }} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> gênero </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.gender ? 'Fêmea' : 'Macho' }} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> idade </th>
      <td mat-cell *matCellDef="let pet">{{ pet.ageInMonths }}</td>
      <td mat-cell *matCellDef="let pet">
      </td>
    </ng-container>

    <ng-container matColumnDef="breed">
      <th mat-header-cell *matHeaderCellDef> raça </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.breed }} </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> porte </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.size === 'SMALL' ? 'Pequeno' : pet.size === 'MEDIUM' ? 'Médio' :
        pet.size === 'LARGE' ? 'Grande' : 'Desconhecido' }} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> peso </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.weight }} </td>
    </ng-container>

    <ng-container matColumnDef="neutered">
      <th mat-header-cell *matHeaderCellDef> castrado </th>
      <td mat-cell *matCellDef="let pet">{{ pet.neutered ? 'Sim' : 'Não' }}</td>
    </ng-container>
    
    <ng-container matColumnDef="microchip">
      <th mat-header-cell *matHeaderCellDef> microchip </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.microchip }} </td>
    </ng-container>

    <ng-container matColumnDef="vaccination">
      <th mat-header-cell *matHeaderCellDef> vacinação </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.vaccination }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> descrição </th>
      <td mat-cell *matCellDef="let pet"> {{ pet.description }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> opções </th>
      <td mat-cell *matCellDef="let pet">
        
        <mat-icon class="icon-info" fontIcon="visibilityoutlined" (click)="showMoreInfo(pet)">visibilityoutlined</mat-icon>
        <mat-icon class="icon-delete" fontIcon="delete" (click)="removePet(pet.id)">delete</mat-icon>
        <mat-icon class="icon-restore" fontIcon="restore" (click)="turnAvailable(pet.id)">restore</mat-icon>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
    