.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.button {
    margin-bottom: .8rem;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: rgb(212, 207, 207);
    font-weight: 500;
}

.table {
    width: 100%;
}

.icon-edit {
    color: darkblue;
}

.icon-delete {
    color: rgb(156, 54, 54);
}

.icon-info {
    color: darkgray;
}

.mat-mdc-paginator-range-label {
    margin: 0 1px 0 1px;
}

@media screen and (max-width: 768px) {
    .mat-elevation-z8.content-table {
      width: 100%; 
      overflow-x: auto; 
    }
  
    .mat-paginator {
      width: 100%;
      justify-content: center; 
    }
  }

  .search-container {
    position: absolute;
    top: 26px;
    right: 32px;
    display: flex;
    align-items: center;
    background-color: #fff; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .search-input {
    border: none;
    outline: none;
    width: 180px; 
    padding: 5px;
    margin-right: 5px;
  }
  
  .search-icon {
    font-size: 18px;
    color: #555; 
  }
  
@media screen and (max-width: 768px) {
    .mat-elevation-z8.content-table {
      width: 100%;
      overflow-x: auto;
    }
  
    .mat-paginator {
      width: 100%;
      justify-content: center;
    }
  
    .button {
      margin-bottom: .8rem;
    }
  
    .search-container {
      position: relative;
      top: auto;
      right: auto;
      margin-top: 1rem;
      margin-right: 0.5rem; 
      flex-direction: row;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  
    .search-input {
      flex: 1;
      margin-right: 0.5rem; 
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      background-color: #fff;
      outline: none;
      font-size: 18px;
      color: #333; 
    }
  
    .search-icon {
      font-size: 18px;
      color: #555; 
    }
  }
  