<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="" href=""> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="wrapper">
        <!-- Login -->
        <div class="login-form" *ngIf="isLogin">
            <form (ngSubmit)="login(loginDto)">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" id="username" name="username" placeholder="Usuário" [(ngModel)]="loginDto.username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" id="password" name="password" placeholder="Senha" [(ngModel)]="loginDto.password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <!--<div class="remember-forgot">
                    <label><input type="checkbox">Lembrar de mim</label>
                 
                </div>-->
                <button class="btn" type="button" (click)="login(loginDto)">Login</button>

           
            </form>
            <!--<div class="register-link">
                <p>Não tem uma conta? <a href="javascript:void(0)" (click)="toggleForm()">Registre-se</a></p>
            </div>-->
        </div>
    

        <!-- Register 
        <div class="register-form" *ngIf="!isLogin">
            <form (ngSubmit)="register(registerDto)">
                <h1>Cadastro</h1>
                <div class="input-box">
                    <input type="text" id="username" name="username" placeholder="Usuário" [(ngModel)]="registerDto.username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" id="password" name="password" placeholder="Senha" [(ngModel)]="registerDto.password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-box">
                    <input type="text" id="role" name="role" placeholder="Código de segurança" [(ngModel)]="registerDto.role" required>
                    <i class='bx bx-shield-quarter'></i>
                    <span class="a">Login</span>
                </div>
                <button class="btn" type="button" (click)="register(registerDto)">Criar conta</button>
            </form>   
        </div> -->
        
    </div>

    <!-- <div class="col-lg-0 col-md-0 mb-0 mb-md-0">
        <div id="map-container-google-1" class="z-depth-1 map-container mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3646.1601216633976!2d-46.34967177467897!3d-23.954777376163495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce0343cb9650dd%3A0x68bca73ecc86e902!2sOng%20Patinhas%20que%20Brilham!5e0!3m2!1spt-BR!2sbr!4v1695788098357!5m2!1spt-BR!2sbr" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="icons-social">
        <i class='bx bxl-whatsapp' ></i>
        <i class='bx bxl-instagram' ></i>
        <i class='bx bxl-facebook-circle' ></i>
    </div> -->
    
</body>
</html>
