<div class="content" role="main">
    <h2>Register</h2>
    <div>name: <input [(ngModel)]="registerDto.username" />
        <div>password: <input [(ngModel)]="registerDto.password" />
            <div>role: <input [(ngModel)]="registerDto.role" />
                <button (click)="register(registerDto)">Register</button>

                <hr />

                <div>name: <input [(ngModel)]="loginDto.username" />
                    <div>password: <input [(ngModel)]="loginDto.password" />
                        <button [routerLink]="'/pets'" (click)="login(loginDto)">Login</button>
                    </div>