.title-h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 500;
}

.content {
    padding-top: 10px;
}

.rowe {
    display: flex;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}

.action button {
    flex: 1;
}

.button-create.mat-elevation-z8 {
    color: green;
}


