<button mat-raised-button color="primary" (click)="openAddEditPetForm()">ADD PET</button>


<table class="table table-hover">
  <thead>
    <tr *ngFor="let c of Pets">
      <th th scope="col">#</th>
      <th th scope="col">{{c.name}}</th>
      <th th scope="col">{{c.species}}</th>
      <th th scope="col">{{c.gender}}</th>
      <th th scope="col">{{c.birthdate}}</th>
      <th th scope="col">{{c.breed}}</th>
      <th th scope="col">{{c.size}}</th>
      <th th scope="col">{{c.weight}}</th>
      <th th scope="col">{{c.neutered}}</th>
      <th th scope="col">{{c.vaccination}}</th>
      <th th scope="col">{{c.description}}</th>
      <td><button class="btn btn-success" (click)="openAddEditPetForm()">Selecionar</button></td>
    </tr>
  </thead>
</table>
