.top-section {
  width: 50%; 
  height: 200px; 
}

.middle-section {
  width: 100%; 
  height: 400px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.widget {
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

.widget.left {
  flex: 1; 
  max-width: 50%; 
}

.widget.right {
  flex: 1; 
  max-width: 50%; 
}

@media only screen and (max-width: 1200px) {
  .widget.left.left {
    max-width: 60%; 
  }
  .widget.right {
    max-width: 40%;
  }
}

@media only screen and (max-width: 1400px) {
  .widget.right {
    max-width: 50%; 
  }
}

@media only screen and (max-width: 1500px) {
  .widget.right {
    max-width: 40%; 
  }
}

@media only screen and (max-width: 1600px) {
  .widget.right {
    max-width: 40%; 
  }
}
