<form>
    <img src="assets/logo.png">
    <input type="text" placeholder="Nome" class="form-control" name="nome" [(ngModel)]="Pet.nome">
    <input type="text" placeholder="Espécie" class="form-control" name="especie" [(ngModel)]="Pet.especie">
    <input type="text" placeholder="Gênero" class="form-control" name="genero" [(ngModel)]="Pet.genero">
    <input type="text" placeholder="Idade" class="form-control" name="idade" [(ngModel)]="Pet.idade">
    <input type="text" placeholder="Raça" class="form-control" name="raca" [(ngModel)]="Pet.raca">
    <input type="text" placeholder="Porte" class="form-control" name="porte" [(ngModel)]="Pet.porte">
    <input type="text" placeholder="Peso" class="form-control" name="peso" [(ngModel)]="Pet.peso">
    <input type="text" placeholder="Castrado" class="form-control" name="castrado" [(ngModel)]="Pet.castrado">
    <input type="text" placeholder="Vacinado" class="form-control" name="vacinado" [(ngModel)]="Pet.vacinado">
    <input type="text" placeholder="Descrição" class="form-control" name="descricaoPet" [(ngModel)]="Pet.descricaoPet">

    <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-outline-primary" (click)="cadastrar()">
    <input type="button" value="Alterar" *ngIf="!btnCadastro" class="btn btn-outline-warning" (click)="editar()">
    <input type="button" value="Remover" *ngIf="!btnCadastro" class="btn btn-outline-danger" (click)="remover()">
    <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-outline-secondary" (click)="cancelar()">

</form>

<table class="table" *ngIf="tabela">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Gênero</th>
            <th>Idade</th>
            <th>Raça</th>
            <th>Porte</th>
            <th>Peso</th>
            <th>Castrado</th>
            <th>Vacinado</th>
            <th>Descrição</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of Pets; index as i">
            <td>{{i+1}}</td>
            <td>{{c.nome}}</td>
            <td>{{c.especie}}</td>
            <td>{{c.genero}}</td>
            <td>{{c.idade}}</td>
            <td>{{c.raca}}</td>
            <td>{{c.porte}}</td>
            <td>{{c.peso}}</td>
            <td>{{c.castrado}}</td>
            <td>{{c.vacinado}}</td>
            <td>{{c.descricaoPet}}</td>
            <td><button class="btn btn-outline-success" (click)="selecionarPet(i)">Selecionar</button></td>
        </tr>
    </tbody>
</table>