/* signup.component.css */

/* Estilo para o container do formulário */
.card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Estilo para o cabeçalho do formulário */
  .card-header {
    background-color: #007bff; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    text-align: center;
    padding: 10px;
  }
  
  /* Estilo para os campos de entrada */
  .form-control {
    margin-bottom: 15px;
  }
  
  /* Estilo para o botão de registro */
  .btn-primary {
    background-color: #007bff; /* Cor de fundo do botão */
    border-color: #007bff; /* Cor da borda do botão */
  }
  
  /* Altera a cor do texto no botão */
  .btn-primary:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
    border-color: #0056b3; /* Cor da borda do botão ao passar o mouse */
  }
  
  /* Aumenta o espaçamento interno do botão */
  .btn-block {
    padding: 10px;
  }
  